<html>

<head>
    <title>Projeto</title>
</head>

<body>

    <h1>Formulário de inscrição</h1>

    <p>Preencha os dados</p>

<form>
Nome: <input type="text"><br>
Sobrenome: <input type="text"><br>
Usuário: <input type="text"><br>
Endereço: <input type="text"><br> 
Cep: <input type="text"><br>
Senha: <input type="text"><br>
Sexo: <br> 
<input type="checkbox" name="masculino"/> Masculino <br>
<input type="checkbox" name="feminino"/> Feminino <br> 
<input type="checkbox" name= "outro"/> Outro <br>     
</form>
<p1>Interreses</p1>
<form>
<input type="checkbox" name="tecnologia" checked/> Tecnologia <br>
<input type="checkbox" name="educacao"/> Educação <br>
<input type="checkbox" name="esportes"/> Esportes <br>
<form>
<input type= "submit" value= "Enviar" />
</form>

<table border="1">

<tr>

<th>Nome:</th>
<th>Idade</th>
<th>Profissão</th>

</tr>

<tr>

???<td>Leo</td>???

???<td>17</td>???

???<td>Estudante</td>???

</tr>

<tr>

???<td>Marina</td>???

???<td>15</td>???

???<td>Estudante</td>???

<a href="file:///C:/Users/lidia/Documents/Projeto%20Web/views/pagina2.html"> ir para segunda página</a>


</table>

</body>

</html>
